* {
    box-sizing: border-box;
}

:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--color-primary-100);
    background-color: var(--color-gray-900);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --color-gray-100: #f4f3f1;
    --color-gray-200: #dddbd8;
    --color-gray-300: #ccc9c6;
    --color-gray-400: #aeaba7;
    --color-gray-500: #8a8784;
    --color-gray-600: #656360;
    --color-gray-700: #4b4a47;
    --color-gray-800: #31302e;
    --color-gray-900: #1f1d1b;

    --color-primary-100: #fcf3e1;
    --color-primary-200: #fceccd;
    --color-primary-300: #fae1af;
    --color-primary-400: #fbd997;
    --color-primary-500: #ffd37c;
    --color-primary-600: #f9c762;
    --color-primary-700: #fbc14d;
    --color-primary-800: #fab833;
    --color-primary-900: #f6ad1b;
    
    --color-secondary-100: #eae6e0;
    --color-secondary-200: #d5cec2;
    --color-secondary-300: #c0b6a4;
    --color-secondary-400: #ab9e86;
    --color-secondary-500: #968668;
    --color-secondary-600: #786b53;
    --color-secondary-700: #5a503e;
    --color-secondary-800: #3c3529;
    --color-secondary-900: #1e1a14;
}

body {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
